In [83]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import folium

In [54]:
df = pd.read_excel('FULLDATA.xlsx')
df

,Name,Salary,Company,Address,Experience,Description,Skills,Min_Experience,Max_Experience,Min_Salary_KZT,Max_Salary_KZT
0,Продавец-консультант,250 000 – 400 000 ₸,ИП Level,Алматы,Без опыта,"Первый магазин был открыт в 2021 году, уже в 2...","Грамотная речь, Пользователь ПК, Электронная...",0,0,250000.0,400000.0
1,Кредитный менеджер,75 000 – 90 000 ₽,ИП Сухоленцев Евгений Александрович,Алматы,Без опыта,Наша компания представляет собой выдающуюся ко...,"Кредитные договоры, Анализ рисков, Навыки пр...",0,0,373500.0,448200.0
2,Инженер-проектировщик/конструктор,от 400 000 ₸,ТОО Жетысу Контактор,Алматы,Без опыта,Обязанности: разработка чертежей деталей н...,"ЕСКД, SolidWorks, САПР, Техническая докумен...",0,0,400000.0,800000.0
3,Менеджер отдела продаж,350 000 – 800 000 ₸,ИП Asnelles,Алматы,Без опыта,Мы команда “asnelles” - первая онлайн школа по...,"Поиск и привлечение клиентов, Развитие продаж...",0,0,350000.0,800000.0
4,SMM менеджер,200 000 – 250 000 ₸,ТОО LANS-Auto,Алматы,Опыт от 1 года до 3 лет,"Задачи, которые будут стоять перед вами: п...","Ведение групп в социальных сетях, Продвижение...",1,3,200000.0,250000.0
...,...,...,...,...,...,...,...,...,...,...,...
16801,Начальник Службы спецтранспорта,400 000 – 500 000 ₸,АО Авиакомпания Жезказган-эйр (ZHEZAIR),Жезказган,Опыт от 1 года до 3 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",1,3,400000.0,500000.0
16802,Главный инженер слаботочных систем,300 000 – 350 000 ₸,ТОО Standart Stroy Group,Жезказган,Опыт более 6 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",6,6,300000.0,350000.0
16803,Водитель-курьер с личным автомобилем,190 000 – 200 000 ₸,ТОО Avis Logistics,Жезказган,Опыт от 1 года до 3 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",1,3,190000.0,200000.0
16804,Мобилограф/СММ-менеджер,100 000 – 300 000 ₸,ИП Амиров Бекзат,Караганда,Без опыта,NaN,"Работа в команде, Грамотная речь, Навыки пр...",0,0,100000.0,300000.0
16805,Офис-менеджер,200 000 – 250 000 ₸,ИП Русина,Караганда,Без опыта,NaN,"Работа в команде, Грамотная речь, Навыки пр...",0,0,200000.0,250000.0

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16806 entries, 0 to 16805
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            16806 non-null  object
 1   Salary          12840 non-null  object
 2   Company         16806 non-null  object
 3   Address         16806 non-null  object
 4   Experience      16806 non-null  object
 5   Description     14527 non-null  object
 6   Skills          16806 non-null  object
 7   Min_Experience  16806 non-null  int64
 8   Max_Experience  16806 non-null  int64
 9   Min_Salary_KZT  16806 non-null  float64
 10  Max_Salary_KZT  16806 non-null  float64
dtypes: float64(2), int64(2), object(7)
memory usage: 1.4+ MB

In [56]:
def count_skills(row):
    if pd.notnull(row):
        return len(row.split(','))
    else:
        return 0

df['Count_of_Skills'] = df['Skills'].apply(count_skills)

df[['Skills', 'Count_of_Skills']]

                                                  Skills  Count_of_Skills
0      Грамотная речь,  Пользователь ПК,  Электронная...               18
1      Кредитные договоры,  Анализ рисков,  Навыки пр...                6
2      ЕСКД,  SolidWorks,  САПР,  Техническая докумен...                6
3      Поиск и привлечение клиентов,  Развитие продаж...                7
4      Ведение групп в социальных сетях,  Продвижение...                6
...                                                  ...              ...
16801   Работа в команде,  Грамотная речь,  Навыки пр...                5
16802   Работа в команде,  Грамотная речь,  Навыки пр...                5
16803   Работа в команде,  Грамотная речь,  Навыки пр...                5
16804   Работа в команде,  Грамотная речь,  Навыки пр...                5
16805   Работа в команде,  Грамотная речь,  Навыки пр...                5

[16806 rows x 2 columns]

In [57]:
import pandas as pd

df['Salary_KZT'] = ((df['Min_Salary_KZT'] + df['Max_Salary_KZT']) / 2).astype(int)

df[['Salary_KZT']]

       Salary_KZT
0          325000
1          410850
2          600000
3          575000
4          225000
...           ...
16801      450000
16802      325000
16803      195000
16804      200000
16805      225000

[16806 rows x 1 columns]

In [58]:
scaler = MinMaxScaler()

df['Normalized_Salary_KZT'] = scaler.fit_transform(df[['Salary_KZT']].values)

df[['Salary_KZT', 'Normalized_Salary_KZT']]

       Salary_KZT  Normalized_Salary_KZT
0          325000               0.097756
1          410850               0.124698
2          600000               0.184058
3          575000               0.176212
4          225000               0.066374
...           ...                    ...
16801      450000               0.136984
16802      325000               0.097756
16803      195000               0.056959
16804      200000               0.058528
16805      225000               0.066374

[16806 rows x 2 columns]

In [59]:
min_exp_min = df['Min_Experience'].min()
min_exp_max = df['Min_Experience'].max()

df['Normalized_Min_Experience'] = 1 - ((df['Min_Experience'] - min_exp_min) / (min_exp_max - min_exp_min))

df[['Min_Experience', 'Normalized_Min_Experience']]

       Min_Experience  Normalized_Min_Experience
0                   0                   1.000000
1                   0                   1.000000
2                   0                   1.000000
3                   0                   1.000000
4                   1                   0.833333
...               ...                        ...
16801               1                   0.833333
16802               6                   0.000000
16803               1                   0.833333
16804               0                   1.000000
16805               0                   1.000000

[16806 rows x 2 columns]

In [60]:
min_skl_min = df['Count_of_Skills'].min()
min_skl_max = df['Count_of_Skills'].max()

df['Normalized_Count_of_Skills'] = 1 - ((df['Count_of_Skills'] - min_skl_min) / (min_skl_max - min_skl_min))

df[['Count_of_Skills', 'Normalized_Count_of_Skills']]

       Count_of_Skills  Normalized_Count_of_Skills
0                   18                    0.552632
1                    6                    0.868421
2                    6                    0.868421
3                    7                    0.842105
4                    6                    0.868421
...                ...                         ...
16801                5                    0.894737
16802                5                    0.894737
16803                5                    0.894737
16804                5                    0.894737
16805                5                    0.894737

[16806 rows x 2 columns]

In [61]:
df['Job_rate'] = 40 * df['Normalized_Salary_KZT'] + 25 * df['Normalized_Min_Experience'] + 35 * df['Normalized_Count_of_Skills']
df

,Name,Salary,Company,Address,Experience,Description,Skills,Min_Experience,Max_Experience,Min_Salary_KZT,Max_Salary_KZT,Count_of_Skills,Salary_KZT,Normalized_Salary_KZT,Normalized_Min_Experience,Normalized_Count_of_Skills,Job_rate
0,Продавец-консультант,250 000 – 400 000 ₸,ИП Level,Алматы,Без опыта,"Первый магазин был открыт в 2021 году, уже в 2...","Грамотная речь, Пользователь ПК, Электронная...",0,0,250000.0,400000.0,18,325000,0.097756,1.000000,0.552632,48.252352
1,Кредитный менеджер,75 000 – 90 000 ₽,ИП Сухоленцев Евгений Александрович,Алматы,Без опыта,Наша компания представляет собой выдающуюся ко...,"Кредитные договоры, Анализ рисков, Навыки пр...",0,0,373500.0,448200.0,6,410850,0.124698,1.000000,0.868421,60.382655
2,Инженер-проектировщик/конструктор,от 400 000 ₸,ТОО Жетысу Контактор,Алматы,Без опыта,Обязанности: разработка чертежей деталей н...,"ЕСКД, SolidWorks, САПР, Техническая докумен...",0,0,400000.0,800000.0,6,600000,0.184058,1.000000,0.868421,62.757047
3,Менеджер отдела продаж,350 000 – 800 000 ₸,ИП Asnelles,Алматы,Без опыта,Мы команда “asnelles” - первая онлайн школа по...,"Поиск и привлечение клиентов, Развитие продаж...",0,0,350000.0,800000.0,7,575000,0.176212,1.000000,0.842105,61.522170
4,SMM менеджер,200 000 – 250 000 ₸,ТОО LANS-Auto,Алматы,Опыт от 1 года до 3 лет,"Задачи, которые будут стоять перед вами: п...","Ведение групп в социальных сетях, Продвижение...",1,3,200000.0,250000.0,6,225000,0.066374,0.833333,0.868421,53.883021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16801,Начальник Службы спецтранспорта,400 000 – 500 000 ₸,АО Авиакомпания Жезказган-эйр (ZHEZAIR),Жезказган,Опыт от 1 года до 3 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",1,3,400000.0,500000.0,5,450000,0.136984,0.833333,0.894737,57.628489
16802,Главный инженер слаботочных систем,300 000 – 350 000 ₸,ТОО Standart Stroy Group,Жезказган,Опыт более 6 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",6,6,300000.0,350000.0,5,325000,0.097756,0.000000,0.894737,35.226036
16803,Водитель-курьер с личным автомобилем,190 000 – 200 000 ₸,ТОО Avis Logistics,Жезказган,Опыт от 1 года до 3 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",1,3,190000.0,200000.0,5,195000,0.056959,0.833333,0.894737,54.427485
16804,Мобилограф/СММ-менеджер,100 000 – 300 000 ₸,ИП Амиров Бекзат,Караганда,Без опыта,NaN,"Работа в команде, Грамотная речь, Навыки пр...",0,0,100000.0,300000.0,5,200000,0.058528,1.000000,0.894737,58.656916
16805,Офис-менеджер,200 000 – 250 000 ₸,ИП Русина,Караганда,Без опыта,NaN,"Работа в команде, Грамотная речь, Навыки пр...",0,0,200000.0,250000.0,5,225000,0.066374,1.000000,0.894737,58.970740

In [62]:
city_ratings = df.groupby('Address')['Job_rate'].mean().reset_index()

city_ratings.columns = ['CITY', 'RATE']

city_ratings_sorted = city_ratings.sort_values(by='RATE', ascending=False)
city_ratings_sorted = city_ratings_sorted.assign(TOP=range(1, 21))

city_ratings_sorted

                CITY       RATE  TOP
14       Талдыкорган  55.966981    1
12     Петропавловск  55.770428    2
15             Тараз  55.441628    3
9           Костанай  55.266082    4
10         Кызылорда  54.957755    5
7           Кокшетау  54.770025    6
17           Уральск  54.721776    7
5          Жезказган  54.607583    8
13             Семей  54.555879    9
11          Павлодар  54.490441   10
1             Актобе  54.408491   11
18  Усть-Каменогорск  54.376869   12
6          Караганда  54.376307   13
19           Шымкент  53.914291   14
0              Актау  53.817202   15
3             Астана  53.649176   16
2             Алматы  53.360177   17
8             Конаев  53.305951   18
4             Атырау  52.906752   19
16         Туркестан  52.217888   20

In [63]:
df = df.merge(city_ratings_sorted[['CITY', 'TOP']], left_on='Address', right_on='CITY', how='left')
df.drop('CITY', axis=1, inplace=True)

,Name,Salary,Company,Address,Experience,Description,Skills,Min_Experience,Max_Experience,Min_Salary_KZT,Max_Salary_KZT,Count_of_Skills,Salary_KZT,Normalized_Salary_KZT,Normalized_Min_Experience,Normalized_Count_of_Skills,Job_rate,TOP
0,Продавец-консультант,250 000 – 400 000 ₸,ИП Level,Алматы,Без опыта,"Первый магазин был открыт в 2021 году, уже в 2...","Грамотная речь, Пользователь ПК, Электронная...",0,0,250000.0,400000.0,18,325000,0.097756,1.000000,0.552632,48.252352,17
1,Кредитный менеджер,75 000 – 90 000 ₽,ИП Сухоленцев Евгений Александрович,Алматы,Без опыта,Наша компания представляет собой выдающуюся ко...,"Кредитные договоры, Анализ рисков, Навыки пр...",0,0,373500.0,448200.0,6,410850,0.124698,1.000000,0.868421,60.382655,17
2,Инженер-проектировщик/конструктор,от 400 000 ₸,ТОО Жетысу Контактор,Алматы,Без опыта,Обязанности: разработка чертежей деталей н...,"ЕСКД, SolidWorks, САПР, Техническая докумен...",0,0,400000.0,800000.0,6,600000,0.184058,1.000000,0.868421,62.757047,17
3,Менеджер отдела продаж,350 000 – 800 000 ₸,ИП Asnelles,Алматы,Без опыта,Мы команда “asnelles” - первая онлайн школа по...,"Поиск и привлечение клиентов, Развитие продаж...",0,0,350000.0,800000.0,7,575000,0.176212,1.000000,0.842105,61.522170,17
4,SMM менеджер,200 000 – 250 000 ₸,ТОО LANS-Auto,Алматы,Опыт от 1 года до 3 лет,"Задачи, которые будут стоять перед вами: п...","Ведение групп в социальных сетях, Продвижение...",1,3,200000.0,250000.0,6,225000,0.066374,0.833333,0.868421,53.883021,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16801,Начальник Службы спецтранспорта,400 000 – 500 000 ₸,АО Авиакомпания Жезказган-эйр (ZHEZAIR),Жезказган,Опыт от 1 года до 3 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",1,3,400000.0,500000.0,5,450000,0.136984,0.833333,0.894737,57.628489,8
16802,Главный инженер слаботочных систем,300 000 – 350 000 ₸,ТОО Standart Stroy Group,Жезказган,Опыт более 6 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",6,6,300000.0,350000.0,5,325000,0.097756,0.000000,0.894737,35.226036,8
16803,Водитель-курьер с личным автомобилем,190 000 – 200 000 ₸,ТОО Avis Logistics,Жезказган,Опыт от 1 года до 3 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",1,3,190000.0,200000.0,5,195000,0.056959,0.833333,0.894737,54.427485,8
16804,Мобилограф/СММ-менеджер,100 000 – 300 000 ₸,ИП Амиров Бекзат,Караганда,Без опыта,NaN,"Работа в команде, Грамотная речь, Навыки пр...",0,0,100000.0,300000.0,5,200000,0.058528,1.000000,0.894737,58.656916,13
16805,Офис-менеджер,200 000 – 250 000 ₸,ИП Русина,Караганда,Без опыта,NaN,"Работа в команде, Грамотная речь, Навыки пр...",0,0,200000.0,250000.0,5,225000,0.066374,1.000000,0.894737,58.970740,13

In [64]:
df['Normalized_Job_rate'] = scaler.fit_transform(df[['Job_rate']].values)
max_exp_min = df['Max_Experience'].min()
max_exp_max = df['Max_Experience'].max()
df['Normalized_Max_Experience'] = 1 - ((df['Max_Experience'] - max_exp_min) / (max_exp_max - max_exp_min))

In [65]:
df

,Name,Salary,Company,Address,Experience,Description,Skills,Min_Experience,Max_Experience,Min_Salary_KZT,Max_Salary_KZT,Count_of_Skills,Salary_KZT,Normalized_Salary_KZT,Normalized_Min_Experience,Normalized_Count_of_Skills,Job_rate,TOP,Normalized_Job_rate,Normalized_Max_Experience
0,Продавец-консультант,250 000 – 400 000 ₸,ИП Level,Алматы,Без опыта,"Первый магазин был открыт в 2021 году, уже в 2...","Грамотная речь, Пользователь ПК, Электронная...",0,0,250000.0,400000.0,18,325000,0.097756,1.000000,0.552632,48.252352,17,0.436178,1.0
1,Кредитный менеджер,75 000 – 90 000 ₽,ИП Сухоленцев Евгений Александрович,Алматы,Без опыта,Наша компания представляет собой выдающуюся ко...,"Кредитные договоры, Анализ рисков, Навыки пр...",0,0,373500.0,448200.0,6,410850,0.124698,1.000000,0.868421,60.382655,17,0.578476,1.0
2,Инженер-проектировщик/конструктор,от 400 000 ₸,ТОО Жетысу Контактор,Алматы,Без опыта,Обязанности: разработка чертежей деталей н...,"ЕСКД, SolidWorks, САПР, Техническая докумен...",0,0,400000.0,800000.0,6,600000,0.184058,1.000000,0.868421,62.757047,17,0.606330,1.0
3,Менеджер отдела продаж,350 000 – 800 000 ₸,ИП Asnelles,Алматы,Без опыта,Мы команда “asnelles” - первая онлайн школа по...,"Поиск и привлечение клиентов, Развитие продаж...",0,0,350000.0,800000.0,7,575000,0.176212,1.000000,0.842105,61.522170,17,0.591844,1.0
4,SMM менеджер,200 000 – 250 000 ₸,ТОО LANS-Auto,Алматы,Опыт от 1 года до 3 лет,"Задачи, которые будут стоять перед вами: п...","Ведение групп в социальных сетях, Продвижение...",1,3,200000.0,250000.0,6,225000,0.066374,0.833333,0.868421,53.883021,17,0.502231,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16801,Начальник Службы спецтранспорта,400 000 – 500 000 ₸,АО Авиакомпания Жезказган-эйр (ZHEZAIR),Жезказган,Опыт от 1 года до 3 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",1,3,400000.0,500000.0,5,450000,0.136984,0.833333,0.894737,57.628489,8,0.546168,0.5
16802,Главный инженер слаботочных систем,300 000 – 350 000 ₸,ТОО Standart Stroy Group,Жезказган,Опыт более 6 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",6,6,300000.0,350000.0,5,325000,0.097756,0.000000,0.894737,35.226036,8,0.283370,0.0
16803,Водитель-курьер с личным автомобилем,190 000 – 200 000 ₸,ТОО Avis Logistics,Жезказган,Опыт от 1 года до 3 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",1,3,190000.0,200000.0,5,195000,0.056959,0.833333,0.894737,54.427485,8,0.508618,0.5
16804,Мобилограф/СММ-менеджер,100 000 – 300 000 ₸,ИП Амиров Бекзат,Караганда,Без опыта,NaN,"Работа в команде, Грамотная речь, Навыки пр...",0,0,100000.0,300000.0,5,200000,0.058528,1.000000,0.894737,58.656916,13,0.558232,1.0
16805,Офис-менеджер,200 000 – 250 000 ₸,ИП Русина,Караганда,Без опыта,NaN,"Работа в команде, Грамотная речь, Навыки пр...",0,0,200000.0,250000.0,5,225000,0.066374,1.000000,0.894737,58.970740,13,0.561914,1.0

In [85]:
df['Latitude'] = df['Address'].map(lambda x: city_coordinates.get(x, {}).get('latitude'))
df['Longitude'] = df['Address'].map(lambda x: city_coordinates.get(x, {}).get('longitude'))

df

,Name,Salary,Company,Address,Experience,Description,Skills,Min_Experience,Max_Experience,Min_Salary_KZT,...,Salary_KZT,Normalized_Salary_KZT,Normalized_Min_Experience,Normalized_Count_of_Skills,Job_rate,TOP,Normalized_Job_rate,Normalized_Max_Experience,Latitude,Longitude
0,Продавец-консультант,250 000 – 400 000 ₸,ИП Level,Алматы,Без опыта,"Первый магазин был открыт в 2021 году, уже в 2...","Грамотная речь, Пользователь ПК, Электронная...",0,0,250000.0,...,325000,0.097756,1.000000,0.552632,48.252352,17,0.436178,1.0,43.236392,76.945728
1,Кредитный менеджер,75 000 – 90 000 ₽,ИП Сухоленцев Евгений Александрович,Алматы,Без опыта,Наша компания представляет собой выдающуюся ко...,"Кредитные договоры, Анализ рисков, Навыки пр...",0,0,373500.0,...,410850,0.124698,1.000000,0.868421,60.382655,17,0.578476,1.0,43.236392,76.945728
2,Инженер-проектировщик/конструктор,от 400 000 ₸,ТОО Жетысу Контактор,Алматы,Без опыта,Обязанности: разработка чертежей деталей н...,"ЕСКД, SolidWorks, САПР, Техническая докумен...",0,0,400000.0,...,600000,0.184058,1.000000,0.868421,62.757047,17,0.606330,1.0,43.236392,76.945728
3,Менеджер отдела продаж,350 000 – 800 000 ₸,ИП Asnelles,Алматы,Без опыта,Мы команда “asnelles” - первая онлайн школа по...,"Поиск и привлечение клиентов, Развитие продаж...",0,0,350000.0,...,575000,0.176212,1.000000,0.842105,61.522170,17,0.591844,1.0,43.236392,76.945728
4,SMM менеджер,200 000 – 250 000 ₸,ТОО LANS-Auto,Алматы,Опыт от 1 года до 3 лет,"Задачи, которые будут стоять перед вами: п...","Ведение групп в социальных сетях, Продвижение...",1,3,200000.0,...,225000,0.066374,0.833333,0.868421,53.883021,17,0.502231,0.5,43.236392,76.945728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16801,Начальник Службы спецтранспорта,400 000 – 500 000 ₸,АО Авиакомпания Жезказган-эйр (ZHEZAIR),Жезказган,Опыт от 1 года до 3 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",1,3,400000.0,...,450000,0.136984,0.833333,0.894737,57.628489,8,0.546168,0.5,47.796446,67.706181
16802,Главный инженер слаботочных систем,300 000 – 350 000 ₸,ТОО Standart Stroy Group,Жезказган,Опыт более 6 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",6,6,300000.0,...,325000,0.097756,0.000000,0.894737,35.226036,8,0.283370,0.0,47.796446,67.706181
16803,Водитель-курьер с личным автомобилем,190 000 – 200 000 ₸,ТОО Avis Logistics,Жезказган,Опыт от 1 года до 3 лет,NaN,"Работа в команде, Грамотная речь, Навыки пр...",1,3,190000.0,...,195000,0.056959,0.833333,0.894737,54.427485,8,0.508618,0.5,47.796446,67.706181
16804,Мобилограф/СММ-менеджер,100 000 – 300 000 ₸,ИП Амиров Бекзат,Караганда,Без опыта,NaN,"Работа в команде, Грамотная речь, Навыки пр...",0,0,100000.0,...,200000,0.058528,1.000000,0.894737,58.656916,13,0.558232,1.0,49.816128,73.102662
16805,Офис-менеджер,200 000 – 250 000 ₸,ИП Русина,Караганда,Без опыта,NaN,"Работа в команде, Грамотная речь, Навыки пр...",0,0,200000.0,...,225000,0.066374,1.000000,0.894737,58.970740,13,0.561914,1.0,49.816128,73.102662

In [89]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score , confusion_matrix

X = df[['Min_Experience', 'Max_Experience', 'Latitude', 'Longitude', 'Salary_KZT']]
y = df['Address']

label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)

from sklearn.metrics import accuracy_score, classification_report

accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

print(classification_report(y_test, y_pred))
print('\nConfusion Matrix:')
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.8010113027959548
              precision    recall  f1-score   support

           0       0.81      0.84      0.83       135
           1       0.72      0.84      0.78       178
           2       0.82      0.92      0.86       396
           3       0.73      0.87      0.79       396
           4       0.85      0.85      0.85       210
           5       0.62      0.48      0.54        21
           6       0.76      0.87      0.81       406
           7       0.79      0.48      0.60        79
           8       1.00      0.57      0.73         7
           9       0.91      0.83      0.87       222
          10       0.89      0.56      0.68        45
          11       0.82      0.82      0.82       218
          12       0.83      0.71      0.76       107
          13       0.81      0.57      0.67        80
          14       0.87      0.32      0.46        41
          15       0.89      0.30      0.45       102
          16       0.75      0.28      0.41        32
          17       0.84      0.81      0.82       129
          18       0.92      0.84      0.88       238
          19       0.76      0.85      0.81       320

    accuracy                           0.80      3362
   macro avg       0.82      0.68      0.72      3362
weighted avg       0.81      0.80      0.79      3362


Confusion Matrix:
[[114   3   0   0  11   1   1   0   0   1   0   0   0   0   0   0   1   3
    0   0]
 [  0 150   2   3   8   0   2   0   0   7   0   0   0   0   0   0   0   5
    0   1]
 [  0   4 363   6   0   0   7   0   0   2   0   5   0   0   1   1   0   1
    0   6]
 [  2   4  10 343   2   2  24   1   0   1   0   6   0   0   0   0   0   0
    0   1]
 [  9   7   1   2 178   1   0   1   0   2   0   1   1   1   0   0   0   6
    0   0]
 [  0   0   0   7   0  10   2   0   0   0   1   1   0   0   0   0   0   0
    0   0]
 [  5   1   5  36   1   0 353   0   0   1   0   3   0   0   0   0   0   1
    0   0]
 [  0   2   2  27   0   0   3  38   0   0   0   1   6   0   0   0   0   0
    0   0]
 [  1   0   1   0   0   0   0   0   4   0   0   0   0   0   1   0   0   0
    0   0]
 [  2  11   3   6   0   0   6   2   0 184   0   1   6   1   0   0   0   0
    0   0]
 [  0   2   1   2   1   0   2   0   0   0  25   0   0   0   0   0   0   1
    0  11]
 [  1   2   1   8   1   0  20   0   0   1   0 179   1   3   0   0   0   0
    1   0]
 [  0   4   2  15   0   0   3   5   0   0   0   1  76   0   0   0   0   1
    0   0]
 [  0   2   1   2   0   0   4   0   0   0   0   8   1  46   0   0   0   0
   16   0]
 [  0   0  23   0   0   0   3   0   0   0   0   0   0   1  13   0   0   0
    1   0]
 [  0   2   9   3   1   0   8   1   0   0   1   0   0   0   0  31   0   0
    0  46]
 [  0   0   1   1   0   0   0   0   0   0   1   0   0   0   0   1   9   0
    0  19]
 [  3  11   0   2   5   0   0   0   0   1   0   1   1   0   0   0   0 104
    0   1]
 [  1   1   7   3   1   0   8   0   0   2   0  11   0   4   0   0   0   0
  200   0]
 [  2   2  12   5   0   2  16   0   0   0   0   1   0   1   0   2   2   2
    0 273]]